@{ Layout = null; }

<ul>
    <li><a class="general" style="font-weight: bold;" href="FavoriteCourse">Courses</a></li>
    <li><a class="general" style="font-weight: bold;" >Favorite Courses</a></li>
    <li><a class="general" style="font-weight: bold;" >Completed Courses</a></li>
    <li><a class="general" style="font-weight: bold;" >Instructor Profiles</a></li>
    <li><a class="general" style="font-weight: bold;" >Membership</a></li>
</ul>
